@model TestProject.Web.ViewModels.Stavka

@using (Html.BeginCollectionItem("Stavke"))
{

    <tr>
        @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
        <td class="col-md-10">
            @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
        </td>
    </tr>

    <tr class="form-group">
        @Html.LabelFor(model => model.Kolicina, htmlAttributes: new { @class = "control-label col-md-2" })
        <td class="col-md-10">
            @Html.EditorFor(model => model.Kolicina, new { htmlAttributes = new { @class = "form-control kolicina"} })
            @Html.ValidationMessageFor(model => model.Kolicina, "", new { @class = "text-danger" })
        </td>
    </tr>

    <tr class="form-group">
        @Html.LabelFor(model => model.Cijena, htmlAttributes: new { @class = "control-label col-md-2" })
        <td class="col-md-10">
            @Html.EditorFor(model => model.Cijena, new { htmlAttributes = new { @class = "form-control cijena"} })
            @Html.ValidationMessageFor(model => model.Cijena, "", new { @class = "text-danger" })
        </td>
    </tr>

    <tr class="form-group">
        @Html.LabelFor(model => model.UkupnaCijena, htmlAttributes: new { @class = "control-label col-md-2" })
        <td class="col-md-10">
            @Html.EditorFor(model => model.UkupnaCijena, new { htmlAttributes = new { @class = "form-control ukupnaCijena"} })
            @Html.ValidationMessageFor(model => model.UkupnaCijena, "", new { @class = "text-danger" })
        </td>
    </tr>
    <hr />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>

    </script>
}